body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(238, 238, 238);
}

.DisplayWordSection{
  color: black;
}

.Letter{
  display: inline-block;
  padding-left: 1vw;
  padding-right: 1vw;
  border-style: groove;
  width: 4vw;
  text-align: center;
}

.GuessedLetter{
  display: inline-block;
  padding-left: 1vw;
  padding-right: 1vw;
  border-style: groove;
  width: 4vw;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.304);
}

.GuessedLetterMessageDisplayed{
  font-size: 2vw;
}

.DisplayNone{
  display: none;
}

.HangmanImageWordDisplay{
  display: inline-block;
  font-size: 2vw;
}

.HangmanImageDisplay{
  display: inline-block;
}

.HelpPopUp{
  position: fixed;
  top: 3vw;
  left: 3vw;
  width: 90%;
  height: 90%;
  background-color: grey;
}

.HelpPopUpInner{
  position: relative;
  padding: 5vw;
  width: 100%;
  max-width: 60vw;
}

.CloseButton{
  position: absolute;
  top: 1vw;
}

.HelpText{
  font-size: 1.25vw;
}

.HelpTitle{
  font-size: 2vw;
}

.HelpTitle2{
  font-size: 1.5vw;
}